*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    background-color: #F5F5F7;
    margin: 0%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3F2E3E;
    color:#D8A7B1;
    padding: 1rem; 
    height: 30vh;
    text-align: center;


}

.navbar .personalInfo img{
    width: 15%;
    background-color:#D8A7B1;
    border-radius: 100%;
    border: 3px solid #6D5A65;
    max-width: 20vh;
}
.navbar .personalInfo .name{
    font-size:xx-large;
}

.navbar .personalInfo .position, .location{
    font-size:medium;
}
.navbar .personalInfo .name, .position, .location{
    margin: 0.3rem;
}


.navbar .btnList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar .btnList button{
    /*fix responsive bug*/
    border: none;
    background:none;
    color:#D8A7B1;
    font-size: large;
    padding: 1rem;
    border-radius: 1rem;
    
}
.navbar .btnList button:hover{
    border: none;
    background-color:#D8A7B1;
    color: #6D5A65;
    cursor: pointer;
    font-weight: bold;
}

main{
    margin: 5rem;
    color: #3F2E3E;
}