body{
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 25%;
    color:rgb(119, 135, 152);
}

button{
    cursor: pointer;
}
.idCard{
    margin: 6rem;
    padding: 4rem;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 2px 2px grey;  
    justify-content: center;

}

#photo{
    border-radius: 100%;
    width: 40%;
    max-width: 150px;
    position: relative;
    top:-5rem;
    box-shadow: 0 3px 3px grey;
}

#contactButtons{
    position: relative;
    top:-1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#connect{
    border-radius: 20px;
    width: 4rem;
    color:darkorchid;
    border:0;
    
}

#message{
    border-radius: 20px;
    width: 4rem;
    color:rgb(129, 60, 144);
    border: 0;
    
}

#personalInfo{
    margin-bottom: 20px;
}

#education{
    margin-bottom:20px;
}

#interactions{
    margin: auto;
    
}

#projectsButton{
    border-radius: 20px;
    min-width: 100px;
    min-height: 40px;
    color:white;
    background-image:linear-gradient(to right, rgb(103, 64, 146), rgb(218, 172, 145));
    box-shadow: 0 2px 2px grey;
    margin: 15px;
}


#projects{
    color:black;
    size: 2px;
    padding:5px;
}

img{
    background-color:white;
}